{{!-- template-lint-disable no-invalid-interactive --}}
<div class="ea-dropdown" {{on 'keyup' this.handleKeyUp}}> 
  
    <button
      type="button"
      class="ea-dropdown__button"
      {{on 'click' this.toggleShowing}}
      id={{this.buttonId}}
    >
      {{this.buttonLabel}}
    </button>
    {{#if this.isShowing}}
      {{#if @listItems}}
      {{! template-lint-disable no-action }}
        <ul class="ea-dropdown__list" {{focus-trap 
        focusTrapOptions=(hash
          onDeactivate=(action this.toggleShowing)
          clickOutsideDeactivates=true
          returnFocusOnDeactivate=true
          initialFocus=(this.buttonId)
        )
          }}>
          {{#each @listItems as |listItem|}}
              {{#if listItem.route}}
              <li class="ea-dropdown__list-item">
                <LinkTo
                  @disabled={{@disabled}}
                  @route={{listItem.route}}
                  class="ea-dropdown__link"
                >
                  {{listItem.text}}
                </LinkTo>
              </li>
              {{else if listItem.type}}
                <li role="separator" class="ea-dropdown__list-item--separator"></li>
              {{else}}
                <li class="ea-dropdown__list-item ea-dropdown__list-item--text-only">{{listItem.text}}</li>
              {{/if}}
          {{/each}}
        </ul>
        {{! template-lint-enable no-action }}
      {{else}}
        <p>
          if you see this, something went wrong.
        </p>
      {{/if}}
    {{/if}}
  
</div>
{{!-- template-lint-enable no-invalid-interactive --}}